@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat:400,700&subset=latin-ext');

/* 

font-family: 'Great Vibes', cursive;
font-family: 'Montserrat', sans-serif;

*/


* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.row:after {
	content: "";
	height: 0px;
	display: block;
	clear: both;
}

h3 {
	font-size: 1.25em;
	margin: 20px 0;
}

.container-fluid {
	width: 100%;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

/* header */

header .submenu {
	background-color: #21242e;
	color: white;
	text-align: left;
	padding: 20px 0;
}

header .submenu .container div {
	width: 25%;
	float: left;
	padding-left: 20px;
}

header .submenu a {
	color: white;
	text-decoration: none;
}

header .submenu a:hover {
	color: #fa573a;
}

header .submenu .container div:nth-child(3), header .submenu .container div:last-child {
	text-align: right;
}

header .submenu i {
	color: #fa573a;
	margin-right: 5px;
}

header nav {
	background-color: white;
	padding: 20px 0;
}

header nav .logo {
	width: 100px;
	height: auto;
	float: left;
}

header nav .menu {
	float: right;
	padding-top: 5px;
}

header nav .menu li {
	display: inline-block;
	margin-left: 15px;
}

header nav a {
	text-decoration: none;
	color: #666;
}

header nav a:hover {
	color: #fa573a;
}

header nav .activo {
	color: #fa573a;
}

img {
	width: 100%;
	height: auto;
}

/* Fin header */


/* Hero */

.hero {
	background-image: url("../images/fondo.jpg");
	background-color: #222;
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	background-blend-mode: soft-light;
}

.hero>div {
	padding: 12% 15%;
	color: white;
}

.hero>div h2 {
	font-size: 2.5em;
	font-family: 'Great Vibes', cursive;
}

.hero>div h3 {
	color: #fa573a;
}

.boton {
	background-color: #fa573a;
	color: white;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
	margin: 20px 0;
	border: 2px solid #fa573a;
}

.boton:hover {
	background-color: transparent;
	color: #fa573a;
	border: 2px solid #fa573a;
}

.hero .social li {
	display: inline-block;
	margin-right: 30px;
	font-size: 24px;
}

.hero .social li a {
	color: white;
}

/* Fin Hero */


/* main */

main h1 {
	display: none;
}

section {
	padding: 50px 0;
}

main .section-light h2 {
	color: black;
	font-family: 'Great Vibes', cursive;
	text-align: center;
	font-size: 2.5em;
}

main .section-light h2 span {
	color: #fa573a;
}

main section .underline {
	position: relative;
	margin: 0 auto 40px auto;
	height: 15px;
	width: 115px;
}

main section .underline hr {
	width: 115px;
	position: absolute;
	top: 6px;
	border-color: #fa573a;
}

main section .underline span {
	display: block;
	font-weight: 700;
	position: absolute;
	top: 7.5px;
	left: 51px;
	color: #fa573a;
}

main section .flex {
	display: flex;
	flex-wrap: wrap;
}

main #ourservices article {
	width: 33%;
	border-left: 1px solid #ccc;
	padding: 0 25px;
}

main #ourservices article .icon {
	color: #fa573a;
	border: 2px solid #fa573a;
	font-size: 20px;
	padding: 10px;
}

.fa-truck {
	transform: rotateY(180deg);
}

main section h3 {
	font-weight: 700;
}

main #aboutus h3 {
	margin-top: 0;
}

main section p {
	line-height: 1.5;
	color: #666;
}

.enlace {
	text-decoration: none;
	color: #fa573a;
	font-weight: 700;
	display: inline-block;
	margin-top: 20px;
}

.enlace:hover i {
	margin-left: 5px;
	transition: 0.5s;
}

main section h4 {
	color: #fa573a;
	font-size: 1.05em;
	margin-bottom: 20px;
}

main section .columna {
	width: 50%;
	padding: 20px;
}

main #aboutus .imagen {
	width: 85%;
	height: auto;
}

main #aboutus .marco {
	border: 3px solid #fa573a;
	background-color: transparent;
	transform: rotateZ(10deg);
}

main #aboutus .imagen img {
	display: block;
	transform: rotateZ(-10deg);
}

main #aboutus .imagen:hover .marco {
	transform: rotateZ(0deg);
	transition: 1s;
}

main #aboutus .imagen:hover img {
	transform: rotateZ(0deg);
	transition: 1s;
}



